    <!-- ******CONTACT****** -->
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contact</h2>
                <div class="author-message">
                    <div class="profile">
                      <img class="img-responsive" src="{{ site.github.url }}/public/images/test-contact.jpg" alt="" />
                    </div><!--//profile-->
                    <div class="speech-bubble">
                        <h3 class="sub-title">Want to have more information about the community?</h3>
                        <p>You can register to the ALA community <a href="https://lists.gbif.org/mailman/listinfo/ala-portal" traget="_blank">mailing list</a>.
                        <p><strong>[Tip for developers]</strong> We have a <a href="https://atlaslivingaustralia.slack.com/archives/CCTFGEU1G"traget="_blank">Slack channel</a> where you can access and ask any question related to the Atlas of Living Australia platform and how to install it</p>
                        <div class="source">
                            <span class="name">The Living Atlases community</a></span>
                        </div><!--//source-->
                    </div><!--//speech-bubble-->
                </div><!--//author-message-->
            </div><!--//contact-inner-->
        
             <div class="clearfix"></div>
             <div class="col-md-12 logo">
                <div class="col-md-3">
                    <a href="https://www.ala.org.au" target="_blank"><img id="logo-ala" class="img-responsive " src="{{ site.github.url }}/public/images/ala.gif" alt="Atlas of Living Australia" /></a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.education.gov.au/national-collaborative-research-infrastructure-strategy-ncris" target="_blank"><img id="logo-ncris" class="img-responsive" src="{{ site.github.url }}/public/images/NCRIS_logo.jpg" alt="NCRIS" /></a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.csiro.au/" target="_blank"><img id="logo-csiro" class="img-responsive" src="{{ site.github.url }}/public/images/csiro.jpg" alt="CSIRO" /></a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.csiro.au/" target="_blank"><img id="logo-gbif" class="img-responsive" src="{{ site.github.url }}/public/images/GBIF-2015.png" alt="GBIF" /></a>   
                </div>

            </div>   
        </div>
    </section><!--//contact-->
