    <!-- ******DOCS****** --> 
    <section id="docs" class="docs section">
        <div class="container">
            <h2 class="title text-center">Documentation & Links</h2>
            <div class="row">  
                 <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Internationalization</h3>
                        <p class="text-justify">Some ALA modules have been translated in several languages using the Crowdin platform. Translation has been made in Spanish, Catalan, Basque, French and Portuguese. You can access the project through the <a href="https://crowdin.com/project/ala-i18n" target="_blank">ALA Crowdin project</a></p>
                    </div><!--//content-->
                </div><!--//item--> 
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title"> ALA Key Technical Document</h3>
                        <p class="text-justify">This document is a contribution from the Encounter Bay (ALA node portal internationalization) project, co-funded by the French, Spanish, Portuguese and Belgian GBIF Nodes and GBIF Secretariat through its Capacity Enhancement Support Programme.</p>
                        <p> It is intended to capture the essence of the technical documentation about ALA components necessary for evaluators/adopters to discover, assess, understand, install, configure, customize and operate the tools. </p>
                        <p> Version: <a href="https://www.gbif.org/document/82847/ala-key-technical-documentation-english" target="_blank">English</a>, <a href="https://www.gbif.org/document/82848/ala-key-technical-documentation-french" target="_blank">French</a>, <a href="https://www.gbif.org/document/82850/ala-key-technical-documentation-portugese" target="_blank">Portugese</a>, <a href="https://www.gbif.org/document/82849/ala-key-technical-documentation-spanish" target="_blank">Spanish</a>.</p> 
                    </div><!--//content-->
                </div><!--//item--> 
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-file-powerpoint-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title"> Presentations</h3>
                        For each event, we try as much as possible to give access to all materials made by the members about the community or ALA's platform (talks, posters, videos): <a href="{{ site.github.url }}/events">more information</a></p>
                    </div><!--//content-->
                </div><!--//item-->             
            </div><!--//row-->  
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-info"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Registry component</h3>
                        <p class="text-justify">Atlas of Living Australia's module named "Collectory" is the registry component of the framework. <br/> Through the administration tool, you will be able to publish datasets via the GBIF IPT, GBIF API or by directly publishing your DarwinCore Archive on your installation. <br /> You will also be able to fill in metadata linked to institutions, collections, contacts, etc. <br />You will also have some public pages for each institution, collection or dataset you publish on your platform. There is also a search engine dedicated to datasets and another one to collections.</p>
                        <p> Link: <a href="https://github.com/atlasoflivingaustralia/generic-collectory" target="_blank">Github folder</a></p> 
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-database"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Biocache-store</h3>
                        <p class="text-justify">This is the biocache-backend. It manages the loading, sampling, processing and indexing of occurrence records into the system. </p>
                        <p> Link: <a href="https://github.com/atlasoflivingaustralia/biocache-store" target="_blank">Github folder</a>.</p>
                    </div><!--//content-->
                </div><!--//item-->   
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Occurrence search engine</h3>
                        <p class="text-justify">Generic-hub is the occurrence record search engine of the ALA platform using JSON data format. It is a web UI using Grails framework for a backend service called biocache-service.</p>
                        <p> Link: <a href="https://github.com/AtlasOfLivingAustralia/generic-hub" target="_blank">Github folder</a>.</p>
                    </div><!--//content-->
                </div><!--//item-->           
            </div>
            <div class="row"> 
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Spatial portal</h3>
                        <p class="text-justify">The Spatial Portal focuses on where a chosen species was located, what species were found in a defined area and what are the environmental conditions in that area. <br />The spatial portal is divided in four different web applications: spatial portal UI (web portal), spatial analysis service, spatial layers service and spatial actions. They use web services to communicate with each other when necessary.</p>
                        <p> Link: <a href="https://github.com/AtlasOfLivingAustralia?utf8=%E2%9C%93&q=spatial&type=&language=" target="_blank">Github folders</a>.</p>
                    </div><!--//content-->
                </div><!--//item-->                
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-list"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">BIE</h3>
                        <p class="text-justify">BIE system is divided in two parts: BIE-inde and Generic-BIE. <br />The first one is a Grails web application that indexes taxonomic content in DwC-A and provides search web-service. <br />The second one is a front-end interface providing species pages and a search engine. </p>
                        <p> Link: <a href="https://github.com/AtlasOfLivingAustralia/generic-bie" target="_blank">Github folders</a>.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">ALA4R</h3>
                        <p class="text-justify">ALA4R module allows the R community to access data and resources hosted on the platform. The goal is to enable outputs (e.g., observations of species) to be queried and output in standard formats. </p>
                        <p> Link: <a href="https://github.com/AtlasOfLivingAustralia/ALA4R" target="_blank">Github folder</a>.</p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->                      
        </div><!--//container-->
    </section><!--//Docs-->
