    <!-- ******MODULES****** --> 
    <section id="modules" class="modules section">
        <div class="container">
            <h2 class="title text-center">Highlighted modules</h2>
            <p class="intro text-center">Atlas of Living Australia platform is composed of many modules but the community works mainly with these six ones. It means that other members are currently installing them and can help you to configure it or answer any question you can have. You can s them separatly. You don't need to install all the modules but some of them won't fully work with linked modules. </p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-info"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Registry component</h3>
                        <p>Metadata</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">ALA Mailing List</h3>
                        <p>Suscribe to the <a href="https://lists.gbif.org/mailman/listinfo/ala-portal" traget="_blank">ALA-Portal mailing list</a> where you will be able to ask any technical or non technical questions.</p>
                    </div><!--//content-->
                </div><!--//item-->   
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Biocache-Hub</h3>
                        <p>search engine module</p>
                    </div><!--//content-->
                </div><!--//item-->           
            </div>
            <div class="row"> 
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Spatial portal</h3>
                        <p>Spatial portal</p>
                    </div><!--//content-->
                </div><!--//item-->                
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-list"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">BIE</h3>
                        <p>Specie search</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">ALA4R</h3>
                        <p>Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome</a> icons available.</p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//modules-->
