    <!-- ******MODULES****** --> 
    <section id="news" class="modules news section">
        <div class="container">
            <h2 class="title text-center">News</h2>
            <div class="news-inner"> 
                <div class="intro-div">
                    <h3 class="sub-title">Remote support sessions to help Living Atlas developers bootstrapping and launching their new national or thematic data portal.</h3>

                    <p class="intro text-justify"> One of the feedback that we get from the LA community is to improve and simplify the implementation of a new LA data portal. To achieve this, Vicente Ruiz Jurado, technical coordinator of the LA community, put in place a procedure based on remote sessions to bootstrap and/or launch a new LA instance within an institution. </p>

                    <p class="intro text-justify"> It will help newcomers to have an overview of the LA modules, but it will also support developers who want to install new modules on their platform or launch their data portal in production.</p>

                    <p class="intro text-justify"> The sessions will be prepared and guided remotely by Vicente in coordination with the institution developers. The remote session will be divided typically in two half-days or more depending on the node requirements.</p>


                    <p class="intro text-justify"> We propose two options: </p>
                    <p class="intro text-justify"> 
                        <ul>
                            <li>the deployment of a demo with several VMs. It will be helpful for newcomers or participants that need a demo data portal to show to their institution's decision-makers or to evaluate their future hardware or software requirements. The demo VMs, hosted by the GBIF Spain, will be kept for a few weeks after the session (depending on the other nodes necessities for similar help);</li>
                            <li>the guidance of participants during the first deployment in their real production machines.</li>
                         </ul>   
                    </p>

                    <p class="intro text-justify"> During the sessions, the participants and Vicente will use the <a href="https://github.com/AtlasOfLivingAustralia/ala-install">ala-install ansible repository</a> with the help of the <a href="https://github.com/living-atlases/generator-living-atlas">Living Atlas Ansible Generator</a>.</p> 

                    <p class="intro text-justify"> Already 3 participants did these remote sessions for deploying their demos and/or their production nodes:  </p>
                    <p class="intro text-justify"> 
                        <ul>
                            <li>Biodiversity Atlas of Living Austria (Georg Neubauer);</li>
                            <li>Biodiversity Atlas of Living Tanzania (Finian Mwalongo, Gerald Francis or Meshack Victor);</li>
                            <li>The <a href="https://vtecostudies.org/">Vermont Center for Ecostudies</a> in the US (Jason Loomis).</li>
                         </ul>   
                    </p>  
                    <p class="intro text-justify"> We encourage you to contact them through Slack to have their feedback on their remote workshops</p> 

                    <p class="intro text-justify"> You will find more information about the procedure in <a href="https://docs.google.com/document/d/1v_j7tHNGmEPu6RH1uv3mCUBc4FzHLmTvcpeLP4MR0o4/edit?usp=sharing">this document</a> and the technical instructions <a href="https://docs.google.com/document/d/1pNbT6suWcnyXaUcRhtLcsTfNNodtuIMO16CMaUGE0qA/edit?usp=sharing">here</a>.</p>

                    <p class="intro text-justify"><b>Please contact Vicente by email or via Slack for future sessions</b>. </p>

                    <p class="intro text-justify"> If you have any questions or if you don’t have access to the <a href="https://atlaslivingaustralia.slack.com">Slack channel</a>, please contact Vicente or Marie-Elise Lecoq.</p>

                </div>
            </div> <!-- news-inner-->  
        </div><!--//container-->      
    </section><!--//modules-->
