    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">Living <span class="highlight">Atlases</span></h2>
            <p class="intro">An open community created around the Atlas of Living Australia platform. </p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="https://www.gbif.org/programme/82953/living-atlases" target="_blank">GBIF official program pages</a>
                <!-- <a class="btn btn-cta-primary" href="http://ala-demo.gbif.org/" target="_blank">GBIF Programme</a> -->
            </div>
            <ul class="meta list-inline">
                <li class="back-li"><a href="https://github.com/AtlasOfLivingAustralia" target="_blank">View on GitHub</a></li>
                <li class="back-li"><a href="https://github.com/AtlasOfLivingAustralia/documentation" target="_blank">Full Documentation</a></li>
                <li class="back-li">Created by: <a href="http://www.ala.org.au/" target="_blank">Atlas of Living Australia</li>
            </ul><!--//meta-->
        </div><!--//container-->
        <div class="caption">
                <p>
                    <a class="back-caption" href="https://www.inaturalist.org/photos/2664553" target="_blank">Red Kangaroo</a><span class="back-caption">, <i class="fa fa-copyright"></i> John Sullivan, some rights reserved (</span><a class="back-caption" href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC</a><span class="back-caption">) via </span><a class="back-caption" href="https://www.inaturalist.org/" target="_blank">iNaturalist.org</a>
                </p>
            </div>
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                    <li class="twitter-follow"><a href="https://twitter.com/atlaslivingaust " class="twitter-follow-button" data-show-count="false">Follow @atlaslivingaust</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li><!--//twitter-follow-->
                    <li class="twitter-tweet">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="atlaslivingaust" data-hashtags="livingatlases">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li>
                </ul>
            </div>
        </div>
    </section><!--//promo-->
